@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    color: #FAFAFB;
    background-color: #0D1230;
  }

  body {
    background-color: #0D1230;
    color: #FAFAFB;
    overflow-x: hidden;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0D1230;
}

::-webkit-scrollbar-thumb {
  background: #212A58;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FDE197;
}
